@import '~styles/variables';

.PodcastSidebar{
  padding: 20px;
  box-shadow: $box-shadow;
  text-align: left;

  .link{
    cursor: pointer;
  }

  .avatar {
    text-align: center;
    padding: 15px;

    > img {
      margin: 0 auto;
      width: 200px;
      height: 200px;
    }
  }

  .title, .label {
    padding: 15px 0 5px;
  }

  .divider {
    padding: 10px;
    border-bottom: 1px solid rgba($text-secondary-color,0.1);
  }

  .title {
    font-size: 16px;
    color: $text-primary-color;
    font-weight: bold;
  }

  .artist {
    font-size: 14px;
    color: $text-secondary-color;
  }

  .label {
    font-size: 14px;
    color: $text-primary-color;
    font-weight: bold;
  }

  .description {
    font-size: 12px;
    color: $text-secondary-color;
  }
}