@import '~styles/variables';

.Loader{
  margin: 0 auto;
  margin-top: 100px;
  width: 75px;
  height: 75px;

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $text-brand-color;
    border-color: $text-brand-color transparent $text-brand-color transparent;
    animation: rotate 1.2s linear infinite;
  }
}