@import '~styles/variables';

.List {
  .filterNav{
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px;
    height: 35px;
  }

  .content{
    display: flex;
    flex-wrap: wrap;
  
    .item {
      flex: 1 0 20%;
      max-width: 25%;
      margin: 15px;
    }
  }
}