@import '~styles/variables';

.Counter{
  display: flex;
  align-items: center;
  background-color: $text-brand-color;
  color: $text-default-background;
  height: 100%;
  padding: 0 15px;
  margin: 0 15px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}