$body-background-color: #FFF;
$body-text-color: #000;

$header-background: #FFF;
$header-title-color: #007bff;

$box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);

$text-brand-color: #007bff;
$text-primary-color: #000;
$text-secondary-color: #333;

$text-default-background: #FFF;

$table-background-ever: #FFF;
$table-background-odd: #F5F5F5;