@import '~styles/variables';

.EpisodeList{

  .episode__counter {
    padding: 20px;
    margin-bottom: 15px;
    background-color: $header-background;
    box-shadow: $box-shadow;

    .text{
      font-size: 20px;
      font-weight: 600;
    }
  }

  table {
    font-size: 14px;
    text-align: left;
    width: 100%;
    color: $text-primary-color;
    padding: 20px;
    background-color: $header-background;
    box-shadow: $box-shadow;

    th, td {
      padding: 10px;

      &.title{
        color: $text-brand-color;
        cursor: pointer;
      }
    }

    thead {
      padding: 10px;
      font-size: 14px;
      font-weight: 600;
      tr {
        background-color: $table-background-ever;
        border-bottom: 1px solid rgba($text-primary-color,0.2);
      }
    }

    tbody{
      tr {
        background-color: $table-background-ever;
        border-bottom: 1px solid rgba($text-primary-color,0.1);
  
        &:nth-child(2n+1){
          background-color: $table-background-odd;
        }
      }
    }
  }  
}