@import '~styles/variables';

.PodcastCard{
  padding: 20px;
  background-color: $header-background;
  box-shadow: $box-shadow;
  position: relative;
  text-align: center;
  margin-top: 50px;
  padding-top: 70px;

  .avatar {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .title {
    font-size: 16px;
    color: $text-primary-color;
    font-weight: bold;
  }

  .artist {
    font-size: 14px;
    color: $text-secondary-color;
  }
}