@import '~styles/variables';

.EpisodeCard{
  padding: 20px;
  background-color: $header-background;
  box-shadow: $box-shadow;

  .title {
    font-size: 16px;
    color: $text-primary-color;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .artist {
    font-size: 14px;
    color: $text-secondary-color;
  }

  .audio{
    width: 100%;
    height: 30px;
    margin-top: 20px;
  }
}