@import '~styles/variables';

@keyframes fadeAnimation {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

.Header{
  padding: 20px;
  background-color: $header-background;
  box-shadow: $box-shadow;
  position: relative;

  .title{
    font-size: 16px;
    font-weight: 600;
    color: $header-title-color;
  }

  .live{
    background-color: $text-brand-color;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 20px;
    animation: fadeAnimation 1s linear infinite;
  }
}